<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--@keyup.enter修饰符 按完enter键之后
    @keyup.ctrl.enter 同时按住-->
    <input type="text" v-model="val" @keyup.enter="add">
    <ul>
        <li v-for="(a,index) in arr">{{a}}<button @click="remove(index)">删除</button></li>

    </ul>
</div>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new Vue({
        el:'#app',
        data:{
           val:'',
            arr:[],
        },
        methods:{
            add(e){this.arr.unshift(this.val), this.val='';},
            remove(i){
                this.arr=this.arr.filter((item,index)=>index!=i)
            }
        }
    });
</script>
</body>
</html>